body {
    font-family: Consolas, monaco, monospace;
}

table {
    border-collapse: seperate;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

form {
    padding: 10px;
}

button {
    border: none;
    padding: 10px, 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: Gainsboro;
}
